<h1>Vinstant Messenger</h1>
<h4>Coming Soon...</h4>
<p>Welcome to Vinstant Messenger, {{user.first_name}} {{user.last_name}}!</p>
<br><a style="cursor:pointer;" ng-click="logout()">Click here to logout</a>