<br><a class="pull-right" style="cursor:pointer;" ng-click="logout()">Click here to logout</a>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown">Chat Rooms
   <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" id="roomDropdown">
  	<li ng-repeat="room in rooms"><a style="cursor:pointer;" ng-click="change_room(room)">{{room}}</a></li>
  </ul>
</div>

<h3 style="display:inline;"><span class="label label-default">{{current_room}}</span></h4>

<div class="panel panel-default">
	<div class="panel-body" style="height: 550px; overflow-y: scroll; background-color: #F0F0F0" id="messages">			
		<div ng-repeat="message in messages">
			
		</div>
	</div>
</div>

<form role="form">
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Type a message..." ng-model="message.message">
	  <span class="input-group-btn">
	    <button class="btn btn-default" type="submit" ng-click="sendMessage()">Send</button>
	  </span>
	</div>
</form>