<h3>User Login</h3>
<form role="form">
		<div class="form-group">
			<label for="uid">User ID:</label>
			<input type="text" class="form-control" id="uid" name="uid" ng-model="form_data.uid">
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" id="password" name="password" ng-model="form_data.password">
		</div>
		<button type="submit" class="btn btn-default" ng-click="login()">Submit</button>
</form>

<br>
<a href="#/create_user">Click here to create a new account</a>
<br><p style="color:red; visibility:hidden;" id="login_error">The username or password is incorrect</p>