<div class="row">
	<div class="col-lg-8 col-xs-8 pull-left">
  	<div class="list-group">
  		<div class="list-group-item" style="background-color: #99FF99">
    		<h4 class="list-group-item-heading">{{message.sent_by}}</h4>
    		<p class="list-group-item-text">{{message.message}}</p>
   		</div>
		</div>
	</div>
</div>