<div class="row">	
	<div class="col-lg-8 col-xs-8 pull-right">
		<div class="list-group">
	  	<div class="list-group-item" style="background-color: #66CCFF">
	    	<h4 class="list-group-item-heading">{{message.sent_by}}</h4>
	    	<p class="list-group-item-text">{{message.message}}</p>
	    </div>
		</div>
	</div>
</div>